ecompile.cfg
*bjtypes.txt
*.ecl
*.lst
*.dep
*.exe
*.dll
data/
data.old/
realm/
uoconvert.cfg
binaries/
log/*
dmr.zip
*.zip
config/servers.cfg
config/multis.cfg
config/tiles.cfg
pkg/logs
pkg/logs/*
*.log
objtypes.txt
pol.cfg
libmysql.dll
uotool
uoconvert
pol
ecompile
loggingreal.cfg
*.em
packethooks.txt
src/config/servers.cfg
core-changes.txt
