City Cannath 
{
    N 1
    x 1164
    y 2437
    z 0
    Realm britannia
}

City Tulos
{
    N 2
    X 1290
    Y 682
    Z -1
    Realm britannia
}

City Naggaroth
{
    N 3
    X 1316
    Y 3073
    Z 0
    Realm britannia
}

City Kopalnia Gliny
{
    N 4
    X 598
    Y 2617
    Z 20
    Realm britannia
}

City Lodowa Osada
{
    N 5
    X 761
    Y 284
    Z 10
    Realm britannia
}

City Wedrowna Osada
{
    N 6
    X 766
    Y 873
    Z 0
    Realm britannia
}

<<<<<<< HEAD
# City Stara Brytania
# {
#    N 1
#    X 771
#   Y 1442
#    Z 0
#	Realm	britannia_alt
# }
#
# City Nowa Brytania
# {
#   N 2
#  X 3400
# Y 2031
#   Z 11
#	Realm	britannia_alt
# }
#
# City Iceport
# {
#    N 3
#    X 1759
#    Y 591
#    Z 0
#	Realm	britannia_alt
# }
#
# City Castle Rock
# {
#    N 4
#    X 1680
#    Y 938
#    Z 1
#	Realm	britannia_alt
# }
#
# City Heartrock
# {
#    N 5
#    X 1302
#    Y 1915
#    Z 24
#	Realm	britannia_alt
# }
#
# City Haddinge
# {
#    N 6
#    X 1978
#    Y 2522
#    Z 0
#	Realm	britannia_alt
# }
#
# City Morska Osada
# {
#    N 7
#    X 1490
#    Y 1676
#    Z 1
#	Realm	britannia_alt
# }
#
# City Dark Rock
# {
#    N 8
#    X 327
#    Y 1833
#    Z -1
#	Realm	britannia_alt
# }
#
# Waypoint Szczyty Hanby
# {
#    N 9
#    X 2214
#    Y 3587
#    Z 14
#	Realm	britannia_alt
# }
#
# City Kharak Hirin 
# {
#    N 10
#    X 1930
#    Y 3357
#    Z -1
#	Realm	britannia_alt
# }
#
# Waypoint Kupiecka Karawana
# {
#    N 11
#    X 2181
#    Y 2934
#    Z -1
#	Realm	britannia_alt
# }
#
# Waypoint Puszcza Windemere
# {
#    N 12
#    X 1244
#   Y 3108
#    Z 79
#	Realm	britannia_alt
# }
#
# Waypoint Osada Wannrad
# {
#    N 13
#    X 915
#    Y 2283
#    Z 0
#	Realm	britannia_alt
# }
#
# Waypoint Wilczy Polwysep
# {
#    N 14
#    X 344
#    Y 2257
#    Z -1
#	Realm	britannia_alt
# }
#
# City New Trinsic
# {
#	N 14
#	X 3077
#	Y 2778
#	Z 0
#	Realm	britannia_alt
# }
#
=======
Waypoint Szczyty Ha�by
{
    N 9
    X 2214
    Y 3587
    Z 14
	Realm	britannia_alt
}

City Kharak Hirin 
{
    N 10
    X 1930
    Y 3357
    Z -1
	Realm	britannia_alt
}

Waypoint Kupiecka Karawana
{
    N 11
    X 2181
    Y 2934
    Z -1
	Realm	britannia_alt
}

Waypoint Puszcza Windemere
{
    N 12
    X 1244
    Y 3108
    Z 79
	Realm	britannia_alt
}

Waypoint Osada Wannrad
{
    N 13
    X 915
    Y 2283
    Z 0
	Realm	britannia_alt
}

Waypoint Wilczy Polwysep
{
    N 14
    X 344
    Y 2257
    Z -1
	Realm	britannia_alt
}

City New Trinsic
{
	N 14
	X 3077
	Y 2778
	Z 0
	Realm	britannia_alt
}
>>>>>>> upstream/develop
